<div class="responsive-iframe-container">
  <iframe
    class="embed miro"
    title="Miro Whiteboard"
    src="https://miro.com/app/live-embed/{{ include.board }}"
    scrolling="no"
    frameborder="no"
    allowfullscreen
  ></iframe>
</div>

<!-- <iframe
  class="embed miro"
  src="https://player.bilibili.com/player.html?bvid={{ include.id }}"
  src="https://miro.com/app/live-embed/uXjVNFqImjk=/?moveToViewport=-36,-495,2073,1119&embedId=792012883659"
  scrolling="no"
  border="0"
  frameborder="no"
  framespacing="0"
  allowfullscreen="true"
></iframe> -->
<!-- <iframe
  width="768"
  height="432"
  frameborder="0"
  scrolling="no"
  allow="fullscreen; clipboard-read; clipboard-write"
  allowfullscreen
>
</iframe> -->
